SMSC_Simulator/Connected Services/R2RService/SMSC_R2R_ControllerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s3="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_UsedSettings" xmlns:s13="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_UsedSettings" xmlns:tns="http://Adapter/SMSC_R2R_ControllerService" xmlns:s12="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_Metrology" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s4="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_CalcRecipeSettings" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s8="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_CalcRecipeSettings" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s16="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_UsedSettings" xmlns:s5="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_Metrology" xmlns:s1="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_CalcRecipeSettings" xmlns:s9="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_Metrology" xmlns:s14="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_CalcRecipeSettings" xmlns:s6="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_UsedSettings" xmlns:s2="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_Metrology" xmlns:s11="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_CalcRecipeSettings" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s10="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_UsedSettings" xmlns:s7="EES.Core.WebServices.Adapter.SMSC_R2R_CommonFunction" xmlns:s15="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_Metrology" targetNamespace="http://Adapter/SMSC_R2R_ControllerService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Adapter/SMSC_R2R_ControllerService">
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_CalcRecipeSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_Metrology" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_UsedSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_CalcRecipeSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_Metrology" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_UsedSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_CommonFunction" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_CalcRecipeSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_Metrology" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_UsedSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_CalcRecipeSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_Metrology" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_UsedSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_CalcRecipeSettings" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_Metrology" />
      <s:import namespace="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_UsedSettings" />
      <s:element name="SMSC_R2R_CMP_CalcRecipeSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CMP_CalcRecipeSettings_input" type="s1:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CMP_CalcRecipeSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_CMP_Metrology">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CMP_Metrology_input" type="s2:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CMP_MetrologyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_CMP_UsedSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CMP_UsedSettings_input" type="s3:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CMP_UsedSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_CVD_CalcRecipeSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CVD_CalcRecipeSettings_input" type="s4:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CVD_CalcRecipeSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_CVD_Metrology">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CVD_Metrology_input" type="s5:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CVD_MetrologyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_CVD_UsedSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CVD_UsedSettings_input" type="s6:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CVD_UsedSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_CommonFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_CommonFunction_input" type="s7:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_CommonFunctionResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Etch_CalcRecipeSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Etch_CalcRecipeSettings_input" type="s8:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Etch_CalcRecipeSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Etch_Metrology">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Etch_Metrology_input" type="s9:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Etch_MetrologyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Etch_UsedSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Etch_UsedSettings_input" type="s10:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Etch_UsedSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Furnace_CalcRecipeSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Furnace_CalcRecipeSettings_input" type="s11:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Furnace_CalcRecipeSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Furnace_Metrology">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Furnace_Metrology_input" type="s12:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Furnace_MetrologyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Furnace_UsedSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Furnace_UsedSettings_input" type="s13:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Furnace_UsedSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Litho_CalcRecipeSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Litho_CalcRecipeSettings_input" type="s14:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Litho_CalcRecipeSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Litho_Metrology">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Litho_Metrology_input" type="s15:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Litho_MetrologyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SMSC_R2R_Litho_UsedSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSC_R2R_Litho_UsedSettings_input" type="s16:eventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSC_R2R_Litho_UsedSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="_Ping">
        <s:complexType />
      </s:element>
      <s:element name="_PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_CalcRecipeSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_Metrology">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CMP_UsedSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_CalcRecipeSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_Metrology">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CVD_UsedSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_CommonFunction">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_CalcRecipeSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_Metrology">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Etch_UsedSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_CalcRecipeSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_Metrology">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Furnace_UsedSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_CalcRecipeSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_Metrology">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="EES.Core.WebServices.Adapter.SMSC_R2R_Litho_UsedSettings">
      <s:complexType name="eventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EqpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExContext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FabName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LotCnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XmlString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SMSC_R2R_CMP_CalcRecipeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CMP_CalcRecipeSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CMP_CalcRecipeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CMP_CalcRecipeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CMP_MetrologySoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CMP_Metrology" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CMP_MetrologySoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CMP_MetrologyResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CMP_UsedSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CMP_UsedSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CMP_UsedSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CMP_UsedSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CVD_CalcRecipeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CVD_CalcRecipeSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CVD_CalcRecipeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CVD_CalcRecipeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CVD_MetrologySoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CVD_Metrology" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CVD_MetrologySoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CVD_MetrologyResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CVD_UsedSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CVD_UsedSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CVD_UsedSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CVD_UsedSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CommonFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CommonFunction" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_CommonFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_CommonFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Etch_CalcRecipeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Etch_CalcRecipeSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Etch_CalcRecipeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Etch_CalcRecipeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Etch_MetrologySoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Etch_Metrology" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Etch_MetrologySoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Etch_MetrologyResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Etch_UsedSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Etch_UsedSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Etch_UsedSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Etch_UsedSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Furnace_CalcRecipeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Furnace_CalcRecipeSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Furnace_CalcRecipeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Furnace_CalcRecipeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Furnace_MetrologySoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Furnace_Metrology" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Furnace_MetrologySoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Furnace_MetrologyResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Furnace_UsedSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Furnace_UsedSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Furnace_UsedSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Furnace_UsedSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Litho_CalcRecipeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Litho_CalcRecipeSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Litho_CalcRecipeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Litho_CalcRecipeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Litho_MetrologySoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Litho_Metrology" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Litho_MetrologySoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Litho_MetrologyResponse" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Litho_UsedSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Litho_UsedSettings" />
  </wsdl:message>
  <wsdl:message name="SMSC_R2R_Litho_UsedSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SMSC_R2R_Litho_UsedSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="_PingSoapIn">
    <wsdl:part name="parameters" element="tns:_Ping" />
  </wsdl:message>
  <wsdl:message name="_PingSoapOut">
    <wsdl:part name="parameters" element="tns:_PingResponse" />
  </wsdl:message>
  <wsdl:message name="_PingHttpGetIn" />
  <wsdl:message name="_PingHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_PingHttpPostIn" />
  <wsdl:message name="_PingHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SMSC_R2R_ControllerServiceSoap">
    <wsdl:operation name="SMSC_R2R_CMP_CalcRecipeSettings">
      <wsdl:input message="tns:SMSC_R2R_CMP_CalcRecipeSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CMP_CalcRecipeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CMP_Metrology">
      <wsdl:input message="tns:SMSC_R2R_CMP_MetrologySoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CMP_MetrologySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CMP_UsedSettings">
      <wsdl:input message="tns:SMSC_R2R_CMP_UsedSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CMP_UsedSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_CalcRecipeSettings">
      <wsdl:input message="tns:SMSC_R2R_CVD_CalcRecipeSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CVD_CalcRecipeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_Metrology">
      <wsdl:input message="tns:SMSC_R2R_CVD_MetrologySoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CVD_MetrologySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_UsedSettings">
      <wsdl:input message="tns:SMSC_R2R_CVD_UsedSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CVD_UsedSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CommonFunction">
      <wsdl:input message="tns:SMSC_R2R_CommonFunctionSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_CommonFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_CalcRecipeSettings">
      <wsdl:input message="tns:SMSC_R2R_Etch_CalcRecipeSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Etch_CalcRecipeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_Metrology">
      <wsdl:input message="tns:SMSC_R2R_Etch_MetrologySoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Etch_MetrologySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_UsedSettings">
      <wsdl:input message="tns:SMSC_R2R_Etch_UsedSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Etch_UsedSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_CalcRecipeSettings">
      <wsdl:input message="tns:SMSC_R2R_Furnace_CalcRecipeSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Furnace_CalcRecipeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_Metrology">
      <wsdl:input message="tns:SMSC_R2R_Furnace_MetrologySoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Furnace_MetrologySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_UsedSettings">
      <wsdl:input message="tns:SMSC_R2R_Furnace_UsedSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Furnace_UsedSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_CalcRecipeSettings">
      <wsdl:input message="tns:SMSC_R2R_Litho_CalcRecipeSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Litho_CalcRecipeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_Metrology">
      <wsdl:input message="tns:SMSC_R2R_Litho_MetrologySoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Litho_MetrologySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_UsedSettings">
      <wsdl:input message="tns:SMSC_R2R_Litho_UsedSettingsSoapIn" />
      <wsdl:output message="tns:SMSC_R2R_Litho_UsedSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_Ping">
      <wsdl:input message="tns:_PingSoapIn" />
      <wsdl:output message="tns:_PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSC_R2R_ControllerServiceHttpGet">
    <wsdl:operation name="_Ping">
      <wsdl:input message="tns:_PingHttpGetIn" />
      <wsdl:output message="tns:_PingHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSC_R2R_ControllerServiceHttpPost">
    <wsdl:operation name="_Ping">
      <wsdl:input message="tns:_PingHttpPostIn" />
      <wsdl:output message="tns:_PingHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSC_R2R_ControllerServiceSoap" type="tns:SMSC_R2R_ControllerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMSC_R2R_CMP_CalcRecipeSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CMP_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CMP_Metrology">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CMP_Metrology" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CMP_UsedSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CMP_UsedSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_CalcRecipeSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CVD_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_Metrology">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CVD_Metrology" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_UsedSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CVD_UsedSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CommonFunction">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CommonFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_CalcRecipeSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Etch_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_Metrology">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Etch_Metrology" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_UsedSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Etch_UsedSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_CalcRecipeSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Furnace_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_Metrology">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Furnace_Metrology" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_UsedSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Furnace_UsedSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_CalcRecipeSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Litho_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_Metrology">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Litho_Metrology" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_UsedSettings">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Litho_UsedSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_Ping">
      <soap:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/_Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSC_R2R_ControllerServiceSoap12" type="tns:SMSC_R2R_ControllerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMSC_R2R_CMP_CalcRecipeSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CMP_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CMP_Metrology">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CMP_Metrology" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CMP_UsedSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CMP_UsedSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_CalcRecipeSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CVD_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_Metrology">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CVD_Metrology" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CVD_UsedSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CVD_UsedSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_CommonFunction">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_CommonFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_CalcRecipeSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Etch_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_Metrology">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Etch_Metrology" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Etch_UsedSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Etch_UsedSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_CalcRecipeSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Furnace_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_Metrology">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Furnace_Metrology" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Furnace_UsedSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Furnace_UsedSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_CalcRecipeSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Litho_CalcRecipeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_Metrology">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Litho_Metrology" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSC_R2R_Litho_UsedSettings">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/SMSC_R2R_Litho_UsedSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_Ping">
      <soap12:operation soapAction="http://Adapter/SMSC_R2R_ControllerService/_Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSC_R2R_ControllerServiceHttpGet" type="tns:SMSC_R2R_ControllerServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="_Ping">
      <http:operation location="/_Ping" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSC_R2R_ControllerServiceHttpPost" type="tns:SMSC_R2R_ControllerServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="_Ping">
      <http:operation location="/_Ping" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSC_R2R_ControllerService">
    <wsdl:port name="SMSC_R2R_ControllerServiceSoap" binding="tns:SMSC_R2R_ControllerServiceSoap">
      <soap:address location="http://192.168.73.135:58251/Adapter/SMSC_R2R_ControllerService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSC_R2R_ControllerServiceSoap12" binding="tns:SMSC_R2R_ControllerServiceSoap12">
      <soap12:address location="http://192.168.73.135:58251/Adapter/SMSC_R2R_ControllerService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSC_R2R_ControllerServiceHttpGet" binding="tns:SMSC_R2R_ControllerServiceHttpGet">
      <http:address location="http://192.168.73.135:58251/Adapter/SMSC_R2R_ControllerService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSC_R2R_ControllerServiceHttpPost" binding="tns:SMSC_R2R_ControllerServiceHttpPost">
      <http:address location="http://192.168.73.135:58251/Adapter/SMSC_R2R_ControllerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>